@model Talk.Controllers.HomeVM
@{
    ViewBag.Title = "Home Page";
}

<h3>Validate payment</h3>
@if (Model.IsValid.HasValue)
{
    <div class="alert @(Model.IsValid == true ? "alert-success" : "alert-warning") ">
        @Model.ValidationResult
    </div>
}
    <form method="post" class="f">
        <div class="form-group">
            <label for="amount">Amount</label><input id="amount" name="amount" type="number" value="@Model.Amount" class="form-control" />
        </div>
        <button type="submit" name="payment" value="cash">Post cash</button>
        <hr />
        <div class="form-group">
            <label for="cardNo">Card number</label><input id="cardNo" name="cardNo" type="text" maxlength="20" value="@Model.CardNumber" class="form-control" />
            <label for="cardType">Card type</label>
            <select id="cardType" name="cardType" class="form-control" >
                <option value="1" selected="selected">Mastercard</option>
                <option value="2">Visa</option>
            </select>
        </div>

        <button type="submit" name="payment" value="creditcard">Post credit card payment</button>

    </form>
